.summary-container {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.card {
  flex: 1;
  background: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.value {
  font-size: 28px;
  font-weight: bold;
}

.entrada {
  border-left: 5px solid var(--success);
}

.saida {
  border-left: 5px solid var(--danger);
}

.total {
  border-left: 5px solid var(--primary);
}
