.header {
  width: 100%;
  padding: 20px 40px;
  background: var(--primary);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 26px;
}

.new-transaction-btn {
  background: var(--primary-light);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.new-transaction-btn:hover {
  background: #7b7dfa;
}
